In [2]:
s1='python'
print(s1[0:2])
print(s1[-2:])
print(s1[3:])
print(s1[2:5])
print(s1[1:-1])

py
on
hon
tho
ytho

In [3]:
s1[-1::-1]

'nohtyp'

In [4]:
s1[::-2]

'nhy'

In [6]:
s1[::3]

'ph'

## functions with string operations

In [9]:
# reverse the string
def reversestr(s):
 return s[-1::-1]
reversestr('pyhton')

'nothyp'

In [11]:
def ispalindrome(s):
    if s==s[-1::-1]:
        return True
    return False
print(ispalindrome('python'))
print(ispalindrome('ganag'))

False
True

In [47]:
# function to print the upper case charaters
# example: PyThon --P T


# ASCII
# A - Z  : 65 - 90
# a - z  : 97 - 122
# 0 - 9 :  48 - 57
# space :  32
 
def printUpper(s):
    for i in range(len(s)):
        if ord(s[i] )>= 65 and ord(s[i] )<= 90:
            print(s[i],end=' ')
        return
printUpper('PyThon')

P

In [38]:
ord('a') # ord() function glass the output as number which is to ASCII number

97

In [ ]:
# function to return the output as "sameCount" or "programming"
# sameCount --Lower and  Upper chars have same count
# programming -- Count of lower and upper case is not same

# example #1 : PyThOn --3 P T O
#                      --3 y h n
# Output : sameCount

#example #2 : PyThoN --2 P N
#                    --4 y t h o
# Output : Programming

def findCharount(s):
    cntUpper = 0
    cnt Lower = 0
    for i in range(len(s)):
        if ord(s[i])>= 65 and ord(s[i]) <= 90:
            cntUpper += 1 #cntUpper = cntUpper +1
        elif ord(s[i])>=97 anf ord(s[i])<= 122:
            cntLower += 1 # cntLower = cntLower +1
    if cntLower ==

In [49]:
# Function to extract the digits from the string
# Example #1:
# input : appli18cation89
# output : 1 8 8 9

def extractDigits(s):
    for i in  range(len(s)):
        if ord(s[i]) >= 48 and ord(s[i]) <= 57:
            print((s[i]),end=' ' )
    return
extractDigits('appli18cation89')

1 8 8 9

In [65]:
# function to add the digits of the string
# example #1:
#Input : appli18cation89
# Output : 26(1+8+8+9)

def k(s):
    sum = 0
    for i in  range(len(s)):
        if ord(s[i]) >= 48 and ord(s[i]) <= 57:
            sum = sum +(ord(s[i])-48)
    return sum
sumofDigits('appli18cation89')

26

In [ ]:
# function to 2nd word in Upper case
# example #1:
#input: Python Made Easy
#output : MADE

# Example #2:
# input : Learn Python Strings
# Output : PYTHON

def worduppercase(s):
    cntspace = 0
    for i in range(len(s)):
        if ord(s[i]) == 32:
            cntspace += 1
        if cntspace == 1:
            if ord(s[i])>= 65 and ord(s[i])<= 90:
                print(s[i]),end =' ')
            elif ord(s[i]) >= 97 and ord(s[i])

# list 
- one of the Data Structure in Python
- Data Structure means to store sort and Search Options
- Its one Common Data structure in python, the items of lists separerted by common and enclosed in square brackets[]
  - example
    - list1 =[1,2,3,4,5]
    - list2 = ["gitam",1,2,1.89,"vizg"]

In [66]:
li = [1,2,3,4]
print(li) # will print the all the list items
print(li[0]) # Access the first iteam of the list
print(li[1]) # Access the second iteam of the list
print(li[-1])# Access the last iteam of the list
print(li[-2])
print(li[2:])

[1, 2, 3, 4]
1
2
4
3
[3, 4]

In [70]:
li = ["gitam",1582,2018,2019,'vizag']
print(li)
# update the list item with value using index
li[1]=1234
print(li)

['gitam', 1582, 2018, 2019, 'vizag']
['gitam', 1234, 2018, 2019, 'vizag']

In [72]:
# delete the list iteam from the list
del li[3]
print(li)

['gitam', 1234, 2018, 'vizag']

In [ ]:
# basic list operations
li=[1,2,3,4,5]
#len of the list 
print(len(li))
# list repitation
print(li*2)
# to

In [75]:
# BASIC LIST FUNCTIONS
li= [1,2,9,5]
print(max(li)) # max number of the list
print(min(li)) # min number of the list
print(sum(li)) # sum of all list items
print(sum(li)//len(li)) #avg of list items

9
1
17
4.25

In [78]:
li= [1,2,9,5]
print(max(li),min(li),sum(li))

9 1 17